@import "/stylesheets/navbar.css";

:root {
    --blue-color: #234E70;
    --pale-yellow: #FBF8BE;
    --third-color: #333;
    --text-color: black;
}

body {
  background-color: var(--pale-yellow);
}