@import "/stylesheets/navbar.css";

:root {
  --blue-color: #234E70;
  --pale-yellow: #FBF8BE;
  --primary-color: var(--blue-color);
  --secondary-color: var(--pale-yellow);
  --third-color: #333;
  --text-color: white;
}

body {
  background-color: var(--primary-color);
  color: var(--text-color);
}